################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.config
/WaniKani-Pitch-Info.sln
/.vs/VSWorkspaceState.json
/index.html
/.vs
